<section
  class="bg-white rounded-xl shadow-gray-400 shadow-md w-[500px] max-sm:w-[350px] h-[250px] gap-[14px] flex flex-col justify-center items-center mt-[30px] max-sm:mt-[30px]"
>
  <h2 class="text-[30px] font-semibold text-gray-600">Contact Me</h2>
  <div class="flex justify-center items-center gap-[45px]">
    <!-- whatsapp -->
    <a href="https://wa.me/1138192126?text=Hola!%20Me%20gustaría%20saber%20más%20informacion" target="_blank" rel="noopener noreferrer"
      ><svg width="44" height="44" viewBox="0 0 44 44" fill="none">
        <path
          d="M22.0733 3.6666C12.0633 3.6666 3.90497 11.8249 3.90497 21.8349C3.90497 25.0433 4.7483 28.1599 6.32497 30.9099L3.7583 40.3333L13.3833 37.8033C16.0416 39.2516 19.03 40.0216 22.0733 40.0216C32.0833 40.0216 40.2416 31.8633 40.2416 21.8533C40.2416 16.9949 38.3533 12.4299 34.925 9.0016C33.2439 7.30413 31.2418 5.95821 29.0354 5.04227C26.829 4.12633 24.4623 3.65869 22.0733 3.6666ZM22.0916 6.72827C26.125 6.72827 29.9016 8.30494 32.7616 11.1649C34.1648 12.5684 35.2774 14.2349 36.0356 16.069C36.7937 17.903 37.1826 19.8687 37.18 21.8533C37.18 30.1766 30.3966 36.9416 22.0733 36.9416C19.36 36.9416 16.7016 36.2266 14.3916 34.8333L13.8416 34.5216L8.12163 36.0249L9.6433 30.4516L9.27663 29.8649C7.7633 27.4603 6.96236 24.6761 6.96663 21.8349C6.98497 13.5116 13.75 6.72827 22.0916 6.72827ZM15.6383 13.4383C15.345 13.4383 14.85 13.5483 14.4283 14.0066C14.025 14.4649 12.8333 15.5833 12.8333 17.8016C12.8333 20.0383 14.465 22.1833 14.6666 22.4949C14.9233 22.8066 17.8933 27.3899 22.4583 29.3333C23.54 29.8283 24.3833 30.1033 25.0433 30.3049C26.125 30.6533 27.115 30.5983 27.9033 30.4883C28.7833 30.3599 30.58 29.3883 30.965 28.3249C31.35 27.2616 31.35 26.3633 31.24 26.1616C31.1116 25.9783 30.8183 25.8683 30.36 25.6666C29.9016 25.4099 27.665 24.3099 27.2616 24.1633C26.84 24.0166 26.5833 23.9433 26.235 24.3833C25.9416 24.8416 25.0616 25.8683 24.805 26.1616C24.53 26.4733 24.2733 26.5099 23.8333 26.2899C23.3566 26.0516 21.89 25.5749 20.1666 24.0349C18.81 22.8249 17.9116 21.3399 17.6366 20.8816C17.4166 20.4416 17.6183 20.1666 17.8383 19.9649C18.04 19.7633 18.3333 19.4333 18.5166 19.1583C18.755 18.9016 18.8283 18.6999 18.975 18.4066C19.1216 18.0949 19.0483 17.8383 18.9383 17.6183C18.8283 17.4166 17.9116 15.1433 17.5266 14.2449C17.16 13.3649 16.7933 13.4749 16.5 13.4566C16.2433 13.4566 15.95 13.4383 15.6383 13.4383Z"
          fill="#505050"></path>
      </svg>
    </a>

    <!-- email -->
    <a href="mailto:soyagvs@gmail.com?subject=Información%20Web" target="_blank" rel="noopener noreferrer"
      ><svg width="44" height="44" viewBox="0 0 44 44" fill="none">
        <path
          d="M39.875 38.5H4.125C1.8425 38.5 0 36.6575 0 34.375V9.625C0 7.3425 1.8425 5.5 4.125 5.5H39.875C42.1575 5.5 44 7.3425 44 9.625V34.375C44 36.6575 42.1575 38.5 39.875 38.5ZM4.125 8.25C3.355 8.25 2.75 8.855 2.75 9.625V34.375C2.75 35.145 3.355 35.75 4.125 35.75H39.875C40.645 35.75 41.25 35.145 41.25 34.375V9.625C41.25 8.855 40.645 8.25 39.875 8.25H4.125Z"
          fill="#505050"></path>
        <path
          d="M21.9999 27.39C20.0749 27.39 18.3149 26.62 16.9949 25.2175L2.55741 9.87246C2.03491 9.32246 2.06241 8.44246 2.61241 7.91996C3.16241 7.39746 4.04241 7.42496 4.56491 7.97496L19.0024 23.32C20.5699 24.9975 23.4299 24.9975 24.9974 23.32L39.4349 8.00246C39.9574 7.45246 40.8374 7.42496 41.3874 7.94746C41.9374 8.46996 41.9649 9.34996 41.4424 9.89996L27.0049 25.245C25.6849 26.6475 23.9249 27.4175 21.9999 27.4175V27.39Z"
          fill="#505050"></path>
      </svg>
    </a>

    <!-- instagram -->
    <a href="https://www.instagram.com/soyagvs"
      ><svg width="44" height="44" viewBox="0 0 44 44" fill="none">
        <path
          d="M14.2998 3.66675H29.6998C35.5665 3.66675 40.3332 8.43341 40.3332 14.3001V29.7001C40.3332 32.5202 39.2129 35.2248 37.2187 37.219C35.2246 39.2131 32.52 40.3334 29.6998 40.3334H14.2998C8.43317 40.3334 3.6665 35.5667 3.6665 29.7001V14.3001C3.6665 11.4799 4.7868 8.77532 6.78094 6.78118C8.77507 4.78704 11.4797 3.66675 14.2998 3.66675ZM13.9332 7.33341C12.1827 7.33341 10.504 8.02877 9.26627 9.26651C8.02853 10.5043 7.33317 12.183 7.33317 13.9334V30.0667C7.33317 33.7151 10.2848 36.6667 13.9332 36.6667H30.0665C31.8169 36.6667 33.4957 35.9714 34.7334 34.7337C35.9711 33.4959 36.6665 31.8172 36.6665 30.0667V13.9334C36.6665 10.2851 33.7148 7.33341 30.0665 7.33341H13.9332ZM31.6248 10.0834C32.2326 10.0834 32.8155 10.3249 33.2453 10.7546C33.6751 11.1844 33.9165 11.7673 33.9165 12.3751C33.9165 12.9829 33.6751 13.5658 33.2453 13.9955C32.8155 14.4253 32.2326 14.6667 31.6248 14.6667C31.017 14.6667 30.4342 14.4253 30.0044 13.9955C29.5746 13.5658 29.3332 12.9829 29.3332 12.3751C29.3332 11.7673 29.5746 11.1844 30.0044 10.7546C30.4342 10.3249 31.017 10.0834 31.6248 10.0834ZM21.9998 12.8334C24.431 12.8334 26.7626 13.7992 28.4816 15.5183C30.2007 17.2374 31.1665 19.5689 31.1665 22.0001C31.1665 24.4312 30.2007 26.7628 28.4816 28.4819C26.7626 30.201 24.431 31.1667 21.9998 31.1667C19.5687 31.1667 17.2371 30.201 15.518 28.4819C13.7989 26.7628 12.8332 24.4312 12.8332 22.0001C12.8332 19.5689 13.7989 17.2374 15.518 15.5183C17.2371 13.7992 19.5687 12.8334 21.9998 12.8334ZM21.9998 16.5001C20.5411 16.5001 19.1422 17.0795 18.1107 18.111C17.0793 19.1424 16.4998 20.5414 16.4998 22.0001C16.4998 23.4588 17.0793 24.8577 18.1107 25.8892C19.1422 26.9206 20.5411 27.5001 21.9998 27.5001C23.4585 27.5001 24.8575 26.9206 25.8889 25.8892C26.9204 24.8577 27.4998 23.4588 27.4998 22.0001C27.4998 20.5414 26.9204 19.1424 25.8889 18.111C24.8575 17.0795 23.4585 16.5001 21.9998 16.5001Z"
          fill="#505050"></path>
      </svg>
    </a>
  </div>
</section>
