<section class="mt-[50px] max-sm:mt-[30px] w-[800px] max-sm:w-[350px] h-[215px] max-sm:h-[350px] bg-white flex justify-center items-center rounded-xl shadow-gray-400 shadow-md">
  <p class="text-gray-600 font-semibold w-[700px] max-sm:w-[300px] flex justify-center items-center text-center text-xl">
    I am a developer passionate about creating modern and functional websites. I
    specialize in designing and building digital experiences that combine
    attractive aesthetics with solid performance, ensuring each project not only
    looks good, but works efficiently. I always seek to innovate and improve,
    providing personalized solutions for each client.
  </p>
</section>
