<section class="mt-[50px] max-sm:mt-[30px] w-[800px] max-sm:w-[350px] h-[215px] max-sm:h-[350px] bg-white flex justify-center items-center rounded-xl shadow-gray-400 shadow-md">
  <p class="text-gray-600 font-semibold w-[700px] max-sm:w-[300px] flex justify-center items-center text-center text-xl">
    Soy un desarrollador web apasionado por crear sitios web modernos, responsives y funcionales, utilizando las últimas tecnologías del momento dando la mejor navegación entre el sitio.
    
</section>
